[submodule "todo-backend"]
	path = todo-backend
	url = https://github.com/Felix-LeeSM/todo-backend
[submodule "todo-frontend"]
	path = todo-frontend
	url = https://github.com/Felix-LeeSM/todo-frontend
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/Felix-LeeSM/portfolio
